<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="tharunoptimus")
        meta(name="keywords", content="crawler")
        meta(name="description", content="crawler using expressjs")

        title Home
        link(rel="stylesheet", href="/css/main.css", id="maincss")
    body
        .bodyWrapper
            .bodyWrapperHeader
            .wrapper
                .logoContainerDiv
                    .logoImageContainer
                        img(src="/images/logo.png", alt="Logo")
                .inputFieldContainer
                    .inputFieldHolder
                        span.searchLogoContainer
                            svg(focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                                path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                        input#searchTermInput(type="url", name="urlInput")
                button#searchButton(type="submit")
                    i(class='fal fa-search') 
                    span(style='padding: 0.5rem;') Search
            .bodyWrapperFooter

        

        script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
        script(src='/js/home.js')