<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="author", content="tharunoptimus")
        meta(name="keywords", content="crawler")
        meta(name="description", content="crawler using expressjs")

        title !{title}
        link(rel="stylesheet", href="/css/main.css", id="maincss")
    body
        script.
            var resultObject = [!{results}];

        script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
        script(src='/js/common.js')